<section style="margin-top: 150px;" class="align-middle">
  <div class="container text-center p-5 rounded rounded-4 shadow border border-primary">
    <p class="display-3 text-primary ">ForgotPassword || Coming Soon!!!</p>
    <p class="display-6 fw-bold py-4 text-danger">The page is under construction.</p>
    <div class="m-0 pt-2 text-center">
      Back to <a [routerLink]="['']" style="cursor: pointer;  color: #282562;" class=" btn text-decoration-none fw-bold">SignIn page.</a>
    </div>
  </div>
</section>
