<section class="bg pt-0 ">
  <div class="container pt-0">
    <div class="row">
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-5 tpad text-center">
        <img class="img-fluid hrmslogo" src="./assets/images/hrms_logo.png" alt="">
      </div>
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-7 col-12 tpad">
        <!-- Login Form -->
        <div class="row msign pt-2">
          <div class="col-lg-12 pt-0 pb-4">
              <!-- Sign up form -->
              <div class="">
                <div class="heading text-center fs-2 pb-1 pt-4">- Login Here - <i class="bi bi-unlock"></i></div>

                     <form (ngSubmit)="onSubmit()" #loginForm="ngForm" class="animate pt-5 pb-4" >
                      <input type="text" class="form-control" placeholder="Enter UserName" name="username" ngModel required minlength="6" #lusername="ngModel"/>
                      <div class="mt-2">
                        <div class="alert alert-danger" *ngIf="lusername.invalid && lusername.touched">UserName should contain at least 6 characters</div>
                      </div>
                      <input type="password" class="mt-4 form-control" placeholder="**********"
                      pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 6 or more characters" name="password" ngModel required #lpassword="ngModel">
                      <div class="mt-2">
                        <div class="alert alert-danger" *ngIf="lpassword.invalid && lpassword.touched"><b>Your Password should meet your requirements</b>
                          <ul>
                            <li>Password should contain minimum Six characters</li>
                            <li>At least One Uppercase</li>
                            <li>At least One Lowercase</li>
                            <li>At least One Number</li>
                          </ul>
                        </div>
                      </div>
      
                        <label class="pt-1"> <input type="checkbox" checked name="remember" > Remember me
                        </label>      
                        
                        <div class="d-flex justify-content-evenly pt-4 pb-0">
                          <input type="submit" class="btn btn-outline-primary" value="Click to Login" [disabled]="!loginForm.valid" [routerLink]="['/Attendance2']">
                        </div>
                    </form>	
                    <div class="text-center">
                      <div class="m-0 pt-0">
                        Don't have an account?<a [routerLink]="['/Signup']" style="cursor: pointer; color: #282562;" class=" btn text-decoration-none fw-bold">Sign up here</a>
                      </div>
                      <div class="pt-0 m-0">
                        Forgot<a [routerLink]="['/ForgotPassword']"  class="primary text-decoration-none fw-bold">Password</a>?
                      </div>
                    </div>
              </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>